# assignment 01

In [1]:
#list and its default functions

In [17]:
lst = ["charan",3000,54.56,[3,4,5],2,2,4,4,4]

In [18]:
lst.append("sai")

In [19]:
lst

['charan', 3000, 54.56, [3, 4, 5], 2, 2, 4, 4, 4, 'sai']

In [20]:
lst.count(4)    #how many times a number is repeated  ex->  4 is repeated thrice

3

In [21]:
lst.insert(3,[4,5,6])  # 3 refers to position at which the element should be inserted

In [22]:
lst

['charan', 3000, 54.56, [4, 5, 6], [3, 4, 5], 2, 2, 4, 4, 4, 'sai']

In [24]:
lst.pop(7)  # 7 refers to position at which element should be poped out

4

In [25]:
lst

['charan', 3000, 54.56, [4, 5, 6], 2, 2, 4, 4, 'sai']

In [26]:
lst = [2,4,7,5,1,8,9,3]  #sorting of elements

In [27]:
lst.sort()

In [28]:
lst

[1, 2, 3, 4, 5, 7, 8, 9]

In [29]:
#dictionary and its default functions

In [32]:
dit = {"name":"shreecharan", "age":20, "college":"xyz", "phoneno":12345}

In [33]:
dit

{'name': 'shreecharan', 'age': 20, 'college': 'xyz', 'phoneno': 12345}

In [34]:
dit.get("name")

'shreecharan'

In [35]:
dit.items()

dict_items([('name', 'shreecharan'), ('age', 20), ('college', 'xyz'), ('phoneno', 12345)])

In [36]:
dit.keys()

dict_keys(['name', 'age', 'college', 'phoneno'])

In [43]:
country = ("chine","japan","india","korea")

In [48]:
country

('chine', 'japan', 'india', 'korea')

In [47]:
dit.fromkeys(country)

{'chine': None, 'japan': None, 'india': None, 'korea': None}

In [49]:
values ="asia"

In [50]:
dit.fromkeys(country,values)

{'chine': 'asia', 'japan': 'asia', 'india': 'asia', 'korea': 'asia'}

In [53]:
dit = {"name":"shreecharan", "age":20, "college":"xyz", "phoneno":12345}

In [54]:
dit.values()

dict_values(['shreecharan', 20, 'xyz', 12345])

In [55]:
#sets and its default functions

In [56]:
st ={"sai","letsupgrade",1,2,3,4,5,6,6,5}

In [57]:
st

{1, 2, 3, 4, 5, 6, 'letsupgrade', 'sai'}

In [61]:
st1 = {"sai",2,3,9,10}

In [62]:
st1.issubset(st)

False

In [63]:
st1.union(st)

{1, 10, 2, 3, 4, 5, 6, 9, 'letsupgrade', 'sai'}

In [65]:
st.intersection(st1)

{2, 3, 'sai'}

In [66]:
st.difference(st1)

{1, 4, 5, 6, 'letsupgrade'}

In [67]:
st.symmetric_difference(st1)

{1, 10, 4, 5, 6, 9, 'letsupgrade'}

In [68]:
#tuple and its default functions

In [69]:
tup = ("charan","@","gmail.com")

In [70]:
tup

('charan', '@', 'gmail.com')

In [71]:
tup.count("charan")

1

In [72]:
tup.index("@")

1

In [73]:
#strings and its default functions

In [74]:
str = "shreecharan"

In [75]:
str

'shreecharan'

In [76]:
str.capitalize()

'Shreecharan'

In [86]:
str.casefold()

'shreecharan'

In [87]:
str.isupper()

False

In [88]:
str.encode()

b'shreecharan'

In [91]:
str.isnumeric()

False